#haloword-pron {
    background: url(../img/icon.svg) -94px -34px;
}

#haloword-pron:hover {
    background: url(../img/icon.svg) -111px -34px;
}

#haloword-open {
    background: url(../img/icon.svg) -94px -17px;
}

#haloword-open:hover {
    background: url(../img/icon.svg) -111px -17px;
}

#haloword-close {
    background: url(../img/icon.svg) -94px 0;
}

#haloword-close:hover {
    background: url(../img/icon.svg) -111px 0;
}

#haloword-add {
    background: url(../img/icon.svg) -94px -51px;
}

#haloword-add:hover {
    background: url(../img/icon.svg) -111px -51px;
}

#haloword-remove {
    background: url(../img/icon.svg) -94px -68px;
}

#haloword-remove:hover {
    background: url(../img/icon.svg) -111px -68px;
}