/* Reset */

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,textarea,button {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,th {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

ul {
    list-style: none;
}

fieldset,img {
    border: none;
}

caption,th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Font */

@font-face {
    font-family: PTSerif;
    src: url("/include/font/PTSerif.ttf") format("truetype");
}
@font-face {
    font-family: PTSerifBold;
    src: url("/include/font/PTSerifBold.ttf") format("truetype");
}
@font-face {
    font-family: PTSerifItalic;
    src: url("/include/font/PTSerifItalic.ttf") format("truetype");
}
@font-face {
    font-family: PTSerifBoldItalic;
    src: url("/include/font/PTSerifBoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: DroidSans;
    src: url("/include/font/DroidSans.ttf") format("truetype");
}
@font-face {
    font-family: DroidSansBold;
    src: url("/include/font/DroidSans-Bold.ttf") format("truetype");
}

/* Universal */

html {
    height: 100%;
    overflow-y: hidden;
}

body {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    font: 24px/36px DroidSans, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
}

button, select {
    font-family: DroidSans, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
}

hr {
    background-color: #dbdbdb;
    border: 0;
    height: 1px;
    width: 100%;
    clear: both;
}

a {
    color: #1F3C77;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(240, 240, 240)), to(rgb(210, 210, 210)));
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(245, 245, 245)), to(rgb(215, 215, 215)));
}

#side ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.align-right {
    text-align: right;
}

.hidden {
    display: none;
}

#side {
    width: 290px;
    height: 100%;
    border-right: 1px solid #C6C9CE;
    background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3), -webkit-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
    text-align: right;
    float: left;
}

#side li {
    padding: 0px 26px 0px 0;
    font: 24px/48px DroidSans, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    color: #3D65BB;
    border: 1px solid transparent;
    vertical-align: middle;
}

#side li.current {
    font-family: DroidSansBold, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    border-right-color: #AABEDC;
    background: -webkit-linear-gradient(left, #BBCEE9, #BBCEE9 97%, #AABEDC);
}

#side li:hover {
    background-color: #D3DFEE;
    border: 1px solid #BBCEE9;
    cursor: pointer;
}
#side li.current:hover {
    border-color: #AABEDC;
}

#side li .delete {
	display: none;
}
#side li:hover .delete {
	display: block;
}

#side #title {
    margin-top: 18px;
    font: 29px/54px DroidSans, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
}

#side #title.current {
    font-family: DroidSansBold, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    font-weight: bold;
}

#side #search {
    padding: 5px 22px;
    line-height: 0;
    margin: 28px 0 10px 0;
}

#side #search_field {
    width: 100%;
    outline: none;
    border: 0;
    padding: 6px 10px;
    font-size: 16px;
    font-family: DroidSans, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    border-radius: 15px;
}

#side #wordlist {
    height: 100%;
    overflow: auto;
}

#side #wordlist .delete {
    float: left;
    margin-top: 14px;
    margin-left: 24px;
    width: 20px;
    height: 20px;
    background: url('/img/icon.svg') -90px -60px;
}
#side #wordlist .delete:hover {
    background: url('/img/icon.svg') -90px -82px;
}

#bubble:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 40px;
    height: 15px;
    width: 30px;
    background: url('/img/icon.svg') -95px -105px;
}
#bubble {
    display: none;
    position: absolute;
    top: 80px;
    left: 95px;
    width: 200px;
    border: 1px solid #7BB3E0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
}
#bubble a {
    background-color: #f3f3f3;
    border-radius: 3px;
    padding: 1px 5px;
    margin: 0 2px;
    border-bottom: 1px solid #ccc;
}
#bubble strong {
    font-family: DroidSansBold, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    font-weight: bold;
}

#main {
    width: 619px;
    height: 100%;
    float: left;
    padding: 0 20px 0 30px;
    overflow: auto;
}

#main header {
    margin-top: 26px;
    font: 36px/40px PTSerif, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    color: #53637D;
}

#toolbar {
    display: none;
    float: right;
    padding: 8px 0 0 0;
    line-height: 0;
    margin: 0px 0 0 0;
}
#toolbar button {
    padding: 5px 12px;
    font-size: 12px;
}

.toolbar button {
    float: left;
    margin: 0;
}
.toolbar .first {
    border-right: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    padding-right: 8px;
}
.toolbar .middle {
    border-left: 0;
    border-right: 1px solid #ddd;
    border-radius: 0;
    padding-left: 8px;
    padding-right: 8px;
}
.toolbar .last {
    border-left: 0;
    border-radius: 0 4px 4px 0;
    padding-left: 8px;
}

#main header #wordtitle {
    float: left;
}

#main header .button {
    display: none;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

#main header #button_add {
    background: url('/img/icon.svg') 0 0;
}

#main header #button_add:hover {
    background: url('/img/icon.svg') -30px 0;
}

#main header #button_remove {
    background: url('/img/icon.svg') 0 -30px;
}

#main header #button_remove:hover {
    background: url('/img/icon.svg') -30px -30px;
}

#main #extradef {
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 20px 10px 0 10px;
    padding: 10px;
}

#main #extradef .phonetic span {
    font-size: 15px;
    margin-right: 10px;
    padding: 3px 8px 2px 8px;
    border-radius: 2px;
    background-color: #fdfdfd;
    box-shadow: 1px 1px 1px #f0f0f0;
}
#main #extradef .phonetic span[onclick] {
    cursor: pointer;
}
#main #extradef .phonetic span[onclick]:hover {
    background-color: #fcfcfc;
}

#main #extradef p {
    margin: 0px;
    font-family: DroidSans, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
}

#main #extradef .from {
    font-family: Helvetica, Arial;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    float: right;
    color: #ccc;
    margin-right: 12px;
}

#main #extradef .content {
    font-size: 15px;
    line-height: 24px;
    margin-top: 6px;    
}

#main #extradef .content p {
    padding-left: 0;
}

#main #extradef .content p.pos {
    font-family: DroidSansBold;
    margin-top: 4px;
    margin-bottom: 3px;
}

#main #worddef {
    padding: 8px 0 24px 0;
}

#main #worddef .credits {
    text-align: right;
    font-size: 13px;
    color: #ccc;
    padding-right: 30px;
}

#main #worddef .credits a {
    color: #bbb;
    font-family: DroidSansBold;
}
#main #worddef .credits a:hover {
    color: #aaa;
}

#main p {
    margin-top: 20px;
    padding-left: 12px;
}
#main p.text {
    font-family: PTSerif, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312", serif;
}

#main p.text b,
#main p.text strong,
#main p.text em,
#main p.text i {
    font-style: normal;
}

#main p.text b,
#main p.text strong {
    font-family: PTSerifBold, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312", serif;
}
#main p.text em,
#main p.text i {
    font-family: PTSerifItalic, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312", serif;
}
#main p.text em b,
#main p.text em strong,
#main p.text b em,
#main p.text strong em {
    font-family: PTSerifBoldItalic, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312", serif;
}

/* word */
/* #main .headword > .terms > p.text:first-child {
    display: none;
} */
#main .headword:first-child > .terms {
    margin-top: 0;
}
#main .headword > .terms {
    margin: 20px 0 8px 0;
    padding-left: 12px;
}
/* clearfix */
#main .headword > .terms:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#main .headword > .terms .text {
    display: inline-block;
    float: left;
}
#main .headword > .terms .phonetic {
    display: none;
}
#main .pronounce {
    display: inline-block;
    position: relative;
    height: 13px;
    width: 13px;
    top: 5px;
    left: 10px;
    margin-right: 5px;
    background: url('/img/icon-neue.svg') 0px 0px;
}
#main .pronounce:hover {
    background: url('/img/icon-neue.svg') 0px -13px;
    cursor: pointer;
}
#main .phonetic {
    display: inline-block;
    font: 17px/18px Helvetica, Arial;
    margin-right: 12px;
    color: #3a3a3a;
}
#main .label {
    font: 16px/16px Helvetica, Arial;
    color: #666;
}
#main .label[title^="Phonetic"], #main .phonetic .label {
    font-family: Helvetica, Arial;
    font-size: 12px;
    color: #AAAAAA;
}
#main .entries > .label[title^="Part-of"] {
    font: 20px/20px DroidSansBold;
    color: #000;
    margin: 24px 0 10px -32px;
}
#main .entries > .label[title^="Part-of"] + .label[title^="Part-of"]{
    margin-left: 8px;
}

#main .headword > .entries {
    font: 24px/34px PTSerif, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312" serif;
    padding-left: 46px;
}
#main .headword p {
    margin-top: 6px;
    padding: 0;
}
#main .meaning {
    display: list-item;
    list-style-type: decimal;
    margin-top: 10px;
}
#main .meaning > .entries {
    padding-left: 30px;
}
#main .meaning > .entries .example {
    font: 20px/30px PTSerif, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312" serif;
    display: list-item;
    list-style-image: url('/img/bullet.svg');
}

#main .related {
    margin-bottom: 14px;
}
#main .related .text {
    font: 19px/24px PTSerif, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312" serif;
    color: #222;
}
#main .related .meaning {
    font: 19px/24px PTSerif, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312" serif;
    margin-left: 24px;
}

#main p.version {
    color: #333;
    font-size: 20px;
    margin-top: 12px;
}
#main span.additional {
    color: #999;
    font-size: 18px;
    margin-left: 5px;
}
#main ul {
    font: 20px/30px PTSerif, STKaiti, "AR PL Ukai CN", "文鼎ＰＬ简中楷", "楷体", "楷体_GB2312" serif;
    padding-left: 60px;
    list-style-image: url('/img/bullet.svg');
}
#main ul li {
    margin: 4px 0;
}

/* builtin */
#main .headword.builtin > .terms {
    margin: 0 0 10px 12px;
    padding: 0;
}
#main .headword.builtin > .terms .phonetic {
    display: inline;
}
#main .headword.builtin .pronounce {
    display: inline-block;
    height: 13px;
    width: 13px;
    top: 1px;
    left: 0;
    margin-left: 5px;
    margin-right: 3px;
    background: url('/img/icon-neue.svg') 0px 0px;
}
